{
  "name": "lambda",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css/layout.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/layout.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/layout-dist.css\"}"
    },
    {
      "path": "css/normalize.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/normalize.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/normalize-dist.css\"}"
    },
    {
      "path": "css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/style-dist.css\"}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/main.js\",\"mangle\":false},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/main-dist.js\"}"
    },
    {
      "path": "font-awesome/css/font-awesome.css",
      "configJson": "{\"compiler-css\":{\"path\":\"font-awesome/css/font-awesome.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"font-awesome/css/font-awesome-dist.css\"}"
    },
    {
      "path": "font-awesome/css/font-awesome.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"font-awesome/css/font-awesome.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"font-awesome/css/font-awesome.min-dist.css\"}"
    },
    {
      "path": "favicon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon.png\",\"size\":285,\"initialSize\":285,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/all-logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/all-logo.png\",\"size\":7780,\"initialSize\":7780,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg-igredients.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bg-igredients.jpg\",\"size\":69807,\"initialSize\":69807,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bgr-review.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bgr-review.jpg\",\"size\":159454,\"initialSize\":159454,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/cook.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/cook.png\",\"size\":40401,\"initialSize\":40401,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/dish.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/dish.png\",\"size\":443998,\"initialSize\":443998,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/divider-white-small.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/divider-white-small.png\",\"size\":2314,\"initialSize\":2314,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/divider-white.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/divider-white.png\",\"size\":3388,\"initialSize\":3388,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/divider.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/divider.png\",\"size\":2314,\"initialSize\":2314,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/food-field.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/food-field.jpg\",\"size\":61548,\"initialSize\":61548,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/food-field2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/food-field2.jpg\",\"size\":55683,\"initialSize\":55683,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/image-bread.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/image-bread.png\",\"size\":26363,\"initialSize\":26363,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/image-spice.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/image-spice.png\",\"size\":25501,\"initialSize\":25501,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/image-wheat.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/image-wheat.png\",\"size\":26186,\"initialSize\":26186,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/intro-bg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/intro-bg.jpg\",\"size\":89514,\"initialSize\":89514,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/menu-background.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/menu-background.jpg\",\"size\":135004,\"initialSize\":135004,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/pattern.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/pattern.jpg\",\"size\":87919,\"initialSize\":87919,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/quote.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/quote.png\",\"size\":522,\"initialSize\":522,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 50
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":true,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compiler-javascript\":{\"mangle\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":false,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":false},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":false,\"compiler-slim\":{\"pretty\":false,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":false,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":false,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":false,\"compiler-livescript\":{\"bare\":false,\"mangle\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":false,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":false}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}